body{
  background-image:  url("img/forest.jpg");
  background-size: 100%;
  background-attachment: fixed;
  background-repeat: round;
}

table{
  margin-top: 25px;
  border-color: blue;
  text-align: center;
  font-size: 25px;
  color: green;
  font-style: oblique;
  background-color: lightblue;
  }

.portal{
  border-radius: 300px;
}


h1
{
  color: blue;
  text-align: center;
  font-size: 50px;
  text-shadow: 0 0 5px violet;
}
p
{
  color: blue;
  font-style: oblique;
  font-size: 35px;
  text-align: center;
  text-shadow: 0 0 5px violet;
}



a{
  color: green;
  font-style: oblique;
  font-size: 30px;
  text-shadow: 0 0 5px white;
}
a:hover{
   color: darkred;
}
